<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.medium.progettomedium">

    <uses-permission android:name="android.permission.INTERNET " />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION " />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION " />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyDGne1lI_eHGtUSwhLsbkuCtpsvJADo834" />
    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActivityModificaEvento"></activity>
        <activity android:name=".Adapter.AdaptAmmAccettati" />
        <activity android:name=".ActivityDettagliAmm" />
        <activity android:name=".AddPostActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".MapActivity"
            android:label="@string/title_activity_maps" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ActivityDettagliEvento" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".EditProfileActivity" />
        <activity android:name=".ActivityPostDetail" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
    </application>

</manifest>